# Matriz

In [0]:
matriz = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [0]:
df_matriz = pd.DataFrame(matriz)

In [0]:
df_matriz

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

---

# **Reviem of pandas DataFrames**

https://campus.datacamp.com/courses/pandas-foundations/exploratory-data-analysis?ex=1

Pandas is a library fo data analysis. 
The powertool of Pandas is the **DataFrame**, a tabular data structure with labeled rows & columns. Labeled rows & columns improves the clarity and intuition of many data analysis tasks.


The columns of a DataFrame are themselves a Pandas structure called a **Series**. Extracting a single column from a DataFrame returns a Series.

The Series extracted inherits its name attribute from the DataFrame column. To extract the **numerical entries** from the Series, we use the **values** attribute. **table.column.values**

The data in the Series actually form a **NumPy Array** which is what the values attribute yields. 

**NumPy arrays, Pandas Series, and Pandas DataFrames**. Understanding how NumPy and pandas work together will prove to be very useful.

#**Pandas Series**

A Pandas Series is a 1D labelled NumPy array and a DataFrame is a 2D labelled array whose columns are Series. 

##**df.info()** 

info to determine information about the total count of non-null entries and infer the total count of null entries, which likely indicates missing data.

In [0]:
import pandas as pd



---

In [0]:
# Import numpy
import numpy as np

# Create array of DataFrame values: np_vals
np_vals = df.values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = np.log10(df)

#**Dictionary From DataFrames I**

In [0]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitors': [139, 237, 326, 456],
        'signups':[7, 12, 3, 5]}
users = pd.DataFrame(data)
print(users)

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5

#**Dictionary From DataFrames II**

It is useful to be able to build DataFrames from lists because **lists are a commom Python Data Structure**; it's natural that we might receibe data accumulated in lists.

In [0]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
signups = [7, 12, 3, 5]
visitors = [139, 237, 326, 456]
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']

list_labels = ['city', 'signups', 'visitors', 'weekdays']
list_cols = [cities, signups, visitors, weekdays]

#**Using Python's LIST and ZIP functions**

It consturcs a list called zipped of tuples (column names and columns) to **feed to the dict command.**

In [0]:
zipped = list(zip(list_labels, list_cols))
print(zipped)

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('signups', [7, 12, 3, 5]), ('visitors', [139, 237, 326, 456]), ('weekdays', ['Sun', 'Sun', 'Mon', 'Mon'])]

In [0]:
data = dict(zipped)

In [0]:
users = pd.DataFrame(data)
users

     city  signups  visitors weekdays
0  Austin        7       139      Sun
1  Dallas       12       237      Sun
2  Austin        3       326      Mon
3  Dallas        5       456      Mon

#**Broadcasting**

A convenient techinique in NumPy & Pandas.

With users in memory, a new column, say fees, can be created on the fly. 

By using the **new column label fees** by assigning the scalar value zero, the value is broadcast to the **entire column**.

**Broadcasting** saves time in generating long lists, arrays, or columns Broadcasting is not restricted to numbers.

In [0]:
users['fees'] = 0

In [0]:
users

     city  signups  visitors weekdays  fees
0  Austin        7       139      Sun     0
1  Dallas       12       237      Sun     0
2  Austin        3       326      Mon     0
3  Dallas        5       456      Mon     0

#**Broadcasting with a dictionary**

Here, we create a dictionary data with column labels height and sex and a list  a single-charact string 'M' as values. 

When the dict data is used to create **DataFrame** results, the value 'M' is broadcast to the entire column.

In [0]:
heights = [59.0, 65.2, 62.9, 65.4, 63.7, 65.7, 64.1]
data = {'height': heights, 'sex': 'M'}
results = pd.DataFrame(data)
results

   height sex
0    59.0   M
1    65.2   M
2    62.9   M
3    65.4   M
4    63.7   M
5    65.7   M
6    64.1   M

---

#**Index and columns**
Remember, we can change the column and index **labels** using the **columns and index attributes** of Pandas DataFrame.

We can assign lists of strings to the attributes columns and index as long as they are suitabel length (that is, the number of columns and rows respectively).

In [0]:
results.columns = ['height (in)', 'sex']
results.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
print(results)

   height (in) sex
A         59.0   M
B         65.2   M
C         62.9   M
D         65.4   M
E         63.7   M
F         65.7   M
G         64.1   M

#**Zip lists to build a DataFrame**

In [0]:
# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(list_keys, list_values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

In [0]:
# <script.py> output:
    [('Country', ['United States', 'Soviet Union', 'United Kingdom']), ('Total', [1118, 473, 273])]
              Country  Total
    0   United States   1118
    1    Soviet Union    473
    2  United Kingdom    273

#**Labeling Data** 

You can use the DataFrame attribute df.columns to view and assign new string labels to columns in a pandas DataFrame.

In this exercise, we have imported pandas as pd and defined a DataFrame df containing top Billboard hits from the 1980s (from Wikipedia). Each row has the year, artist, song name and the number of weeks at the top. However, this DataFrame has the column labels a, b, c, d. Your job is to use the df.columns attribute to re-assign descriptive column labels.

In [0]:
# Build a list of labels: list_labels
list_labels = list(['year', 'artist', 'song', 'chart weeks'])

# Assign the list of labels to the columns attribute: df.columns
df.columns = list_labels

#**Building DataFrames with BroadCasting**
You can implicitly use 'broadcasting', a feature of NumPy, when creating pandas DataFrames. In this exercise, you're going to create a DataFrame of cities in Pennsylvania that contains the city name in one column and the state name in the second. We have imported the names of 15 cities as the list cities.

Your job is to construct a DataFrame from the list of cities and the string 'PA'.

In [0]:
# Make a string with the value 'PA': state
state = 'PA'

# Construct a dictionary: data
data = {'state':state, 'city':cities}

# Construct a DataFrame from dictionary data: df
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [0]:
script.py> output:
       state             city
    0     PA          Manheim
    1     PA     Preston park
    2     PA      Biglerville
    3     PA          Indiana
    4     PA     Curwensville
    5     PA            Crown
    6     PA     Harveys lake
    7     PA  Mineral springs
    8     PA        Cassville
    9     PA       Hannastown
    10    PA        Saltsburg
    11    PA      Tunkhannock
    12    PA       Pittsburgh
    13    PA        Lemasters
    14    PA       Great bend

#**Reading a flat file** - reading DataFrames from files

In [0]:
# Read in the file: df1
df1 = pd.read_csv(data_file)

# Create a list of the new column labels: new_labels
new_labels = ['year', 'population']

# Read in the file, specifying the header and names parameters: df2
df2 = pd.read_csv(data_file, header=0, names=new_labels)

# Print both the DataFrames
print(df1)
print(df2)

In [0]:
<script.py> output:
       Year  Total Population
    0  1960      3.034971e+09
    1  1970      3.684823e+09
    2  1980      4.436590e+09
    3  1990      5.282716e+09
    4  2000      6.115974e+09
    5  2010      6.924283e+09
       year    population
    0  1960  3.034971e+09
    1  1970  3.684823e+09
    2  1980  4.436590e+09
    3  1990  5.282716e+09
    4  2000  6.115974e+09
    5  2010  6.924283e+09

#**Delimiters, headers, and extensions**

In [0]:
# Read the raw file as-is: df1
df1 = pd.read_csv(file_messy)

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(file_messy, delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('file_clean.xlsx', index=False)

#**Plotting series using pandas**

In [0]:
# Create a plot with color='red'
df.plot(c ='red')

# Add a title
plt.title('Temperature in Austin')

# Specify the x-axis label
plt.xlabel('Hours since midnight August 1, 2010')

# Specify the y-axis label
plt.ylabel('Temperature (degrees F)')

# Display the plot
plt.show()

In [0]:
# Plot all columns (default)
df.plot()
plt.show()

# Plot all columns as subplots
df.plot(subplots = True)
plt.show()

# Plot just the Dew Point data
column_list1 = ['Dew Point (deg F)']
df[column_list1].plot()
plt.show()

# Plot the Dew Point and Temperature data, but not the Pressure data
column_list2 = ['Temperature (deg F)','Dew Point (deg F)']
df[column_list2].plot()
plt.show()

#**Visual exploratory data analysis** - EDA

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
datasets.load_*?

- datasets.load_boston
- datasets.load_breast_cancer
- datasets.load_diabetes
- datasets.load_digits
- datasets.load_files
- **datasets.load_iris**
- datasets.load_linnerud
- datasets.load_sample_image
- datasets.load_sample_images
- datasets.load_svmlight_file
- datasets.load_svmlight_files
- datasets.load_wine

In [0]:
iris.plot(x = "sepal_length", y = "sepal_width")
plt.show()
#the plot result is not useful because, by default, plot creates a line plot.

#**Word of warning**
- ## iris.plot(kind='hist')
- ## iris.plt.hist()
- ## iris.hist()

##**Scatter plot**

In [0]:
iris.plot(x = "sepal_length", t = "sepal_width", kind = "scatter")

plt.xlabel('sepal length (cm)')
plt.ylabel('sepal width (cm)' )
plt.show()

##**Box plot**

#### Individual variable distributions are likely more informative htna plotting 2 variables against each other. The resulting boxplot shows the range and median values.

In [0]:
iris.plot(y = 'sepal_length', kind = 'box')
plt.ylabel('sepal_length (cm)')
plt.show()

##**Histogram**

#### Histograms show frequencies of measurements counted within certain bins or intervals. We can redraw the histogram to get a better sense of the data.

In [0]:
irisp.plot(y = 'sepal_length', kind = 'hist')
plt.xlabel('sepal_width (cm)')
plt.show()

##**Histogram options**

- bins (integer): number of intervals or bins
- range (tuple): extrema of bins (minimum, maximum)
- normed (boolean): whether to normalize to one
- cumulative (boolean): compute Cumulative Distribution Function 
- matplotlib customizations

In [0]:
iris.plot(y = 'sepal_length',
          kind = 'hist', 
          bins = 30, 
          range =(4,8),
          normed = True)
plt.xlabel('sepal_lenght (cm)')
plt.show()

#**Pandas line plots**

In [0]:
# Create a list of y-axis column names: y_columns
y_columns = list(['AAPL', 'IBM'])

# Generate a line plot
df.plot(x='Month', y=y_columns)

# Add the title
plt.title('Monthly stock prices')

# Add the y-axis label
plt.ylabel('Price ($US)')

# Display the plot
plt.show()

#**Pandas scatter plots**

In [0]:
# Generate a scatter plot
df.plot(kind = 'scatter', x='hp', y='mpg', s=sizes)

# Add the title
plt.title('Fuel efficiency vs Horse-power')

# Add the x-axis label
plt.xlabel('Horse-power')

# Add the y-axis label
plt.ylabel('Fuel efficiency (mpg)')

# Display the plot
plt.show()

#**Pandas box plots**

In [0]:
# Make a list of the column names to be plotted: cols
cols = list(['weight', 'mpg'])

# Generate the box plots
df[cols].plot(kind = 'box', subplots = True)

# Display the plot
plt.show()

#**Separate and plot**

In [0]:
# Display the box plots on 3 separate rows and 1 column
fig, axes = plt.subplots(nrows=3, ncols=1)

# Generate a box plot of the fare prices for the First passenger class
titanic.loc[titanic['pclass'] == 1].plot(ax=axes[0], y='fare', kind='box')

# Generate a box plot of the fare prices for the Second passenger class
titanic.loc[titanic['pclass'] == 2].plot(ax=axes[1], y='fare', kind='box')

# Generate a box plot of the fare prices for the Third passenger class
titanic.loc[titanic['pclass'] == 3].plot(ax=axes[2], y='fare', kind='box')

# Display the plot
plt.show()

#**Pandas hist, pdf and cdf**

In [0]:
# This formats the plots such that they appear on separate rows
fig, axes = plt.subplots(nrows=2, ncols=1)

# Plot the PDF
df.fraction.plot(ax=axes[0], kind='hist', bins = 30,  normed = True, range=(0,.3))
plt.show()

# Plot the CDF
df.fraction.plot(ax =axes[1], kind = 'hist', bins = 30, cumulative = True, normed = True, range=(0,.3))
plt.show()

#**Statistical exploratory data analysis**

#### A statistic is a single number that summarizes a numerical dataset.

In [0]:
iris.describe()
# we can use describe to list summary statistic of numerical columns of the iris DataFrame.

#**.count() .mean() .std() .median()**

In [0]:
# Print the mean of the January and March data
print(january.mean(), march.mean())

# Print the standard deviation of the January and March data
print(january.std(), march.std())

In [0]:
# Print the minimum value of the Engineering column
print(df['Engineering'].min())

# Print the maximum value of the Engineering column
print(df['Engineering'].max())

# Construct the mean percentage per year: mean
mean = df.mean(axis='columns')

# Plot the average percentage per year
mean.plot()

# Display the plot
plt.show()

In [0]:
# Print summary statistics of the fare column with .describe()
print(df.fare.describe())

# Generate a box plot of the fare column
df.fare.plot(kind = "box")

# Show the plot
plt.show()

---

#**Separating populations**

##**describe() returns count(), unique, top and freq.**

In [0]:
iris['species'].describe()

##**Filtering by species**

In [0]:
indices = iris['species'] == 'setosa'

setosa = iris.loc[indices,:] # extracting a new DataFrame

indices = iris['species'] == 'versicolor'

versicolor = iris.loc[indices,:] # extracting a new DataFrame

indices = iris['species'] == 'virginica'

virginica = iris.loc[indices,:] # extracting a new DataFrame



---

#**Filtering .loc**

In [0]:
# Compute the global mean and global standard deviation: global_mean, global_std
global_mean = df.mean()
global_std = df.std()

# Filter the US population from the origin column: us
us = df.loc[df['origin'] == 'US']

# Compute the US mean and US standard deviation: us_mean, us_std
us_mean = us.mean()
us_std = us.std()

# Print the differences
print(us_mean - global_mean)
print(us_std - global_std)

# type()

In [0]:
type(df_matriz)

pandas.core.frame.DataFrame

---

# .shape

In [0]:
df_matriz.shape

(4, 4)

---

#.columns

In [0]:
df_matriz.columns

RangeIndex(start=0, stop=4, step=1)



---



---

#**Indexing time series** - datetimes

## Pandas stores date and time information in datetime objects

## parse_dates = True
### we can tell read_csv to parse all compatible columns as datetime objects
### we're going to use Date column as the index useful for data **data exploration** and selections.

In [0]:
import pandas as pd
sales = pd.read_csv('sales-feb-2015.csv', parse_dates - True, index_col = 'Date')

In [0]:
sales.loc['2015-2-5', 'Company'] #selecting the datetime string and the Company column name

In [0]:
sales.loc['2015-2-5'] #all of the columns are returned

#**Slicing using dates/times**

In [0]:
sales.loc['2015-2-16':'2015-02-20']

In [0]:
# Extract the hour from 9pm to 10pm on '2010-10-11': ts1
ts1 = ts0.loc['2010-10-11 21:00:00': '2010-10-11 22:00:00']

# Extract '2010-07-04' from ts0: ts2
ts2 = ts0.loc['2010-07-04']

# Extract data from '2010-12-15' to '2010-12-31': ts3
ts3 = ts0.loc['2010-12-15' : '2010-12-31']

#**Convert strings to datetime**
## The Pandas to_datetime function can convert strings in ISO 8601 to datetime objects.

In [0]:
datas_string = ['2020-01-31','2019-01-31','2018-01-31','2017-01-31']
datas_string

['2020-01-31', '2019-01-31', '2018-01-31', '2017-01-31']

In [0]:
type(datas_string)

list

In [0]:
datas_convertidas = pd.to_datetime(datas_string)
datas_convertidas

DatetimeIndex(['2020-01-31', '2019-01-31', '2018-01-31', '2017-01-31'], dtype='datetime64[ns]', freq=None)

In [0]:
type(datas_convertidas)

pandas.core.indexes.datetimes.DatetimeIndex

#**Reindexing Datetime in DataFrame**

In [0]:
table.reindex(datas_convertidas)

# Reindex without fill method: ts3
ts3 = ts2.reindex(ts1.index)

# Reindex with fill method, using forward fill: ts4
ts4 = ts2.reindex(ts1.index, method='ffill')

# Combine ts1 + ts2: sum12
sum12 = ts1 + ts2

# Combine ts1 + ts3: sum13
sum13 = ts1 + ts3

# Combine ts1 + ts4: sum14
sum14 = ts1 + ts4

#**time_format =**format =''%Y-%m-%d %H:%M''

In [0]:
# Prepare a format string: time_format
time_format='%Y-%m-%d %H:%M'

# Convert date_list into a datetime object: my_datetimes
my_datetimes = pd.to_datetime(date_list, format=time_format)  

# Construct a pandas Series using temperature_list and my_datetimes: time_series
time_series = pd.Series(temperature_list, index=my_datetimes)

#**Resampling**
## Using resampling, we can apply statistical methods over different time intervals

In [0]:
daily_mean = sales.resample('D').mean()
# Resamle needs a string to specify frequency "D" stands for daily

![alt text](https://drive.google.com/uc?id=1Pm_xsRf1l6Y04dI6anYO63vnmrLaphEn)

In [0]:
sales.resample('D').sum()

![alt text](https://drive.google.com/uc?id=1ez4HV-jp28m4398bQ_SiMp9tJwhAoKA-)

In [0]:
# Downsample to 6 hour data and aggregate by mean: df1
df1 = df['Temperature'].resample('6h').mean()

# Downsample to daily data and count the number of data points: df2
df2 = df['Temperature'].resample('D').count()

In [0]:
# Extract temperature data for August: august
august = df['Temperature']['2010-August']

# Downsample to obtain only the daily highest temperatures in August: august_highs
august_highs = august.resample('D').max()

# Extract temperature data for February: february
february = df['Temperature']['2010-Feb']

# Downsample to obtain the daily lowest temperatures in February: february_lows
february_lows = february.resample('D').min()

In [0]:
# Extract data from 2010-Aug-01 to 2010-Aug-15: unsmoothed
unsmoothed = df['Temperature']['2010-Aug-01':'2010-Aug-15']

# Apply a rolling mean with a 24 hour window: smoothed
smoothed = unsmoothed.rolling(window=24).mean()

# Create a new DataFrame with columns smoothed and unsmoothed: august
august = pd.DataFrame({'smoothed':smoothed, 'unsmoothed':unsmoothed})

# Plot both smoothed and unsmoothed data using august.plot().
august.plot()
plt.show()

In [0]:
# Extract the August 2010 data: august
august = df['Temperature']['2010-Aug']

# Resample to daily data, aggregating by max: daily_highs
daily_highs = august.resample('D').max()

# Use a rolling 7-day window with method chaining to smooth the daily high temperatures in August
daily_highs_smoothed = august.resample('D').max().rolling(window=7).mean()
print(daily_highs_smoothed)

In [0]:
# Strip extra whitespace from the column names: df.columns
df.columns = df.columns.str.strip()

# Extract data for which the destination airport is Dallas: dallas
dallas = df['Destination Airport'].str.contains('DAL')

# Compute the total number of Dallas departures each day: daily_departures
daily_departures = dallas.resample('D').sum()

# Generate the summary statistics for daily Dallas departures: stats
stats = daily_departures.describe()

## Missing values and interpolation

In [0]:
# Reset the index of ts2 to ts1, and then use linear interpolation to fill in the NaNs: ts2_interp
ts2_interp = ts2.reindex(ts1.index).interpolate(how='linear')

# Compute the absolute difference of ts1 and ts2_interp: differences 
differences = np.abs(ts1 - ts2_interp)

# Generate and print summary statistics of the differences
print(differences.describe())

##Time zones and conversion

In [0]:
# Build a Boolean mask to filter for the 'LAX' departure flights: mask
mask = df['Destination Airport'] == 'LAX'

# Use the mask to subset the data: la
la = df[mask]

# Combine two columns of data to create a datetime series: times_tz_none 
times_tz_none = pd.to_datetime( la['Date (MM/DD/YYYY)'] + ' ' + la['Wheels-off Time'] )

# Localize the time to US/Central: times_tz_central
times_tz_central = times_tz_none.dt.tz_localize('US/Central')

# Convert the datetimes from US/Central to US/Pacific
times_tz_pacific = times_tz_central.dt.tz_convert('US/Pacific')

## Plotting time series, datetime indexing

In [0]:
# Plot the raw data before setting the datetime index
df.plot()
plt.show()

# Convert the 'Date' column into a collection of datetime objects: df.Date
df.Date = pd.to_datetime(df.Date)

# Set the index to be the converted 'Date' column
df.set_index('Date', inplace = True)

# Re-plot the DataFrame to see that the axis is now datetime aware!
df.plot()
plt.show()

##Plotting date ranges, partial indexing

In [0]:
# Plot the summer data
df.Temperature['2010-Jun':'2010-Aug'].plot()
plt.show()
plt.clf()

# Plot the one week data
df.Temperature['2010-06-10':'2010-06-17'].plot()
plt.show()
plt.clf()

---

##Reading in a data file

In [0]:
# Import pandas
import pandas as pd

# Read in the data file: df
df = pd.read_csv(data_file)

# Print the output of df.head()
print(df.head())

# Read in the data file with header=None: df_headers
df_headers = pd.read_csv(data_file, header = None)

# Print the output of df_headers.head()
print(df_headers.head())

## Re-assiging column names

In [0]:
# Split on the comma to create a list: column_labels_list
column_labels_list = column_labels.split(',')

# Assign the new column labels to the DataFrame: df.columns
df.columns = column_labels_list

# Remove the appropriate columns: df_dropped
df_dropped = df.drop(list_to_drop, axis = 'columns')

# Print the output of df_dropped.head()
print(df_dropped.head())

column_labels.split(',')

##Cleaning and tidying datetime data

In [0]:
# Convert the date column to string: df_dropped['date']
df_dropped['date'] = df_dropped['date'].astype(str)

# Pad leading zeros to the Time column: df_dropped['Time']
df_dropped['Time'] = df_dropped['Time'].apply(lambda x:'{:0>4}'.format(x))

# Concatenate the new date and Time columns: date_string
date_string = df_dropped['date'] + df_dropped['Time']

# Convert the date_string Series to datetime: date_times
date_times = pd.to_datetime(date_string, format='%Y%m%d%H%M')

# Set the index to be the new date_times container: df_clean
df_clean = df_dropped.set_index(date_times)

# Print the output of df_clean.head()
print(df_clean.head())

In [0]:
# Print the dry_bulb_faren temperature between 8 AM and 9 AM on June 20, 2011
print(df_clean.loc['2011-6-20 8:00:00':'2011-6-20 9:00:00', 'dry_bulb_faren'])

# Convert the dry_bulb_faren column to numeric values: df_clean['dry_bulb_faren']
df_clean['dry_bulb_faren'] = pd.to_numeric(df_clean['dry_bulb_faren'], errors='coerce')

# Print the transformed dry_bulb_faren temperature between 8 AM and 9 AM on June 20, 2011
print(df_clean.loc['2011-6-20 8:00:00':'2011-6-20 9:00:00', 'dry_bulb_faren'])

# Convert the wind_speed and dew_point_faren columns to numeric values
df_clean['wind_speed'] = pd.to_numeric(df_clean['wind_speed'], errors='coerce')
df_clean['dew_point_faren'] = pd.to_numeric(df_clean['dew_point_faren'], errors='coerce')

##Statistical exploratory data analysis

![alt text](https://drive.google.com/uc?id=1eIgcvHCtqiDmJS5E8DXS6tU6rLIhyLXe)

In [0]:
# Print the median of the dry_bulb_faren column
print(df_clean.dry_bulb_faren.median())

# Print the median of the dry_bulb_faren column for the time range '2011-Apr':'2011-Jun'
print(df_clean.loc['2011-Apr':'2011-Jun', 'dry_bulb_faren'].median())

# Print the median of the dry_bulb_faren column for the month of January
print(df_clean.loc['2011-Jan', 'dry_bulb_faren'].median())

In [0]:
# Downsample df_clean by day and aggregate by mean: daily_mean_2011
daily_mean_2011 = df_clean.resample('D').mean()

# Extract the dry_bulb_faren column from daily_mean_2011 using .values: daily_temp_2011
daily_temp_2011 = daily_mean_2011['dry_bulb_faren'].values

# Downsample df_climate by day and aggregate by mean: daily_climate
daily_climate = df_climate.resample('D').mean()

# Extract the Temperature column from daily_climate using .reset_index(): daily_temp_climate
daily_temp_climate = daily_climate.reset_index()['Temperature']

##Sunny Days

In [0]:
# Using df_clean, when is sky_condition 'CLR'?
is_sky_clear = df_clean['sky_condition']=='CLR'

# Filter df_clean using is_sky_clear
sunny = df_clean.loc[is_sky_clear]

# Resample sunny by day then calculate the max
sunny_daily_max = sunny.resample('D').max()

# See the result
sunny_daily_max.head()

--- 

# Using df_clean, when does sky_condition contain 'OVC'?
is_sky_overcast = df_clean['sky_condition'].str.contains('OVC')

# Filter df_clean using is_sky_overcast
overcast = df_clean.loc[is_sky_overcast]

# Resample overcast by day then calculate the max
overcast_daily_max = overcast.resample('D').max()

# See the result
overcast_daily_max.head()

In [0]:
# From previous steps
is_sky_clear = df_clean['sky_condition']=='CLR'
sunny = df_clean.loc[is_sky_clear]
sunny_daily_max = sunny.resample('D').max()
is_sky_overcast = df_clean['sky_condition'].str.contains('OVC')
overcast = df_clean.loc[is_sky_overcast]
overcast_daily_max = overcast.resample('D').max()

# Calculate the mean of sunny_daily_max
sunny_daily_max_mean = sunny_daily_max.mean()

# Calculate the mean of overcast_daily_max
overcast_daily_max_mean = overcast_daily_max.mean()

# Print the difference (sunny minus overcast)
print(sunny_daily_max_mean - overcast_daily_max_mean)

In [0]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Select the visibility and dry_bulb_faren columns and resample them: weekly_mean
weekly_mean = df_clean[['visibility','dry_bulb_faren']].resample('W').mean()

# Print the output of weekly_mean.corr()
print(weekly_mean.corr())

# Plot weekly_mean with subplots=True
weekly_mean.plot(subplots=True)
plt.show()

In [0]:
# Using df_clean, when is sky_condition 'CLR'?
is_sky_clear = df_clean.sky_condition == 'CLR'

# Resample is_sky_clear by day
resampled = is_sky_clear.resample("D")

# See the result
resampled

In [0]:
# From previous step
is_sky_clear = df_clean['sky_condition'] == 'CLR'
resampled = is_sky_clear.resample('D')

# Calculate the number of sunny hours per day
sunny_hours = resampled.sum()

# Calculate the number of measured hours per day
total_hours = resampled.count()

# Calculate the fraction of hours per day that were sunny
sunny_fraction = sunny_hours / total_hours

# From previous steps
is_sky_clear = df_clean['sky_condition'] == 'CLR'
resampled = is_sky_clear.resample('D')
sunny_hours = resampled.sum()
total_hours = resampled.count()
sunny_fraction = sunny_hours / total_hours

# Make a box plot of sunny_fraction
sunny_fraction.plot(kind='box')
plt.show()

In [0]:
# Resample dew_point_faren and dry_bulb_faren by Month, aggregating the maximum values: monthly_max
monthly_max = df_clean[['dew_point_faren', 'dry_bulb_faren']].resample("M").max()

# Generate a histogram with bins=8, alpha=0.5, subplots=True
monthly_max.plot(kind = "hist", bins = 8, alpha = 0.5, subplots = True)

# Show the plot
plt.show()

In [0]:
# Extract the maximum temperature in August 2010 from df_climate: august_max
august_max = df_climate.loc['2010-Aug','Temperature'].max()
print(august_max)

# Resample August 2011 temps in df_clean by day & aggregate the max value: august_2011
august_2011 = df_clean.loc['2011-Aug','dry_bulb_faren'].resample('D').max()

# Filter for days in august_2011 where the value exceeds august_max: august_2011_high
august_2011_high = august_2011.loc[august_2011 > august_max]

# Construct a CDF of august_2011_high
august_2011_high.plot(kind='hist', normed=True, cumulative=True, bins=25)

# Display the plot
plt.show()